<h1>Weather Search</h1>

<form action="/weather/conditions">
  <div class="form-group">
    <label>Worried about another Polar Vortex? Want to know if its safe enough to emerge into the sun? Enter a city to find out:</label>
    <input name="city" type="text" class="form-control input-md" placeholder="Example: Honolulu, HI">
  </div>
  <input type="submit" class="input-md">
</form>

