<div class="page-header">
  <h1>Additional Airline Information</h1>
</div>

<div class="row">
    <img class = "col-md-2" src="http://lh3.ggpht.com/2FNnag8WvCP4Z4Cr8cjZzrABvCv8Cw21FcIfI55fjAW3jMvJVnN7-ZSaWRzmC2v7Wkg_%3Dw300">
  <div class="col-md-10">
    <h2>United Airlines</h2>

    <p>United Airlines, Inc. (commonly referred to as "United") is an American major airline headquartered in Chicago, Illinois. United is a wholly owned subsidiary of United Continental Holdings following a $3 billion merger in 2010. The airline was previously owned, at one point in its history, by The Boeing Company, one of the world's largest aircraft manufacturers. Since its merger with Continental Airlines, the company boasts more revenue passenger miles than any airline in the world.</p>
    <p>United operates out of 10 airline hubs in the continental United States, Guam, and Japan. George Bush Intercontinental Airport in Houston is United's largest passenger carrying hub handling 16.6 million passengers annually with an average of 45,413 passengers daily. The company employs over 88,500 people while maintaining its headquarters in Chicago's Willis Tower (formerly known as Sears Tower). Through the airline's parent company, United Continental Holdings, it is publicly traded under NYSE: UAL with a market capitalization of over $10.5 billion as of October, 2013. </p>
  </div>
</div>

<div class="row">
  <p> </p>
  <p><a href="/pages/airlineindex">Back to all payment options</p>
</div>
